body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

p {
  margin: 0;
}

.header {
  width: 100%;
  height: 10vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.header-polygon {
  height: 100%;
  width: 100%;
  background-color: rgb(238, 0, 140);
  clip-path: polygon(0 0, 0 10vh, 35vw 10vh, 40vw 5vh, 90vw 5vh, 95vw 10vh, 100vw 10vh, 100vw 0);
  display: flex;
  flex-direction: row;
}

.header-row {
  width: 5vw;
}

.header-text {
  margin-left: 5vw;
  margin-right: 10vw;
  height: 10vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-facts {
  height: 5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Versatylo Rounded';
  font-size: 2vh;
  opacity: 0; /* Start with 0 opacity */
  transition: opacity 1s ease; /* Add transition property */
}

.header-logo {
  height: 10vh;
  width: 7vw;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 7.2vh;
  font-family: 'Edition';
}

.dash-line {
  font-size: 2vh;
  font-family: 'Designer';
}

.flex-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header-spacer {
  height: 5vh;
}

.footer-spacer {
  height: 5vh;
}

.content {
  height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 10vh;
  z-index: 1;
}

.footer-polygon {
  height: 100%;
  width: 100%;
  background-color: rgb(238, 0, 140);
  clip-path: polygon(0 50%, 90% 50%, 95% 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  flex-direction: row;
}

.footer-menu {
  padding-left: 2vw;
  padding-top: 5vh;
  width: 45vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-text {
  padding-top: 5vh;
  padding-right: 1vw;
  text-align: right;
  height: 10vh;
  width: 45vw;
}

.footer-help {
  width: 5vw;
  height: 6vh;
  margin-left: 4vw;
  margin-right: 1vw;
  margin-top: 3vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.footer-tagline {
  font-size: 2.5vh;
  font-family: 'Versatylo Rounded';
}

.player-list {
  margin-top: 5vh;
  width: 35vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.player-box {
  padding-left: 2vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
}

.player-avatar {
  background-color: silver;
  height:10vh;
  width: 10vh;
}

.player-info {
  padding-left: 1vh;
  display: flex;
  flex-direction: column;
  color:rgb(238, 0, 140);
}

.player-name {
  font-size: 5vh;
  font-family: 'Edition';
  color: white;
}

.player-role {
  font-size: 3vh;
  font-family: 'Edition';
}

.main-display {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.map {
  max-width: 54vw; 
  max-height: 84vh;
}

.right-gap {
  padding: 6vh 0 6vh 0;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

#nav-bar {
  color: white;
  font-size: 3vw;
  font-family: 'Designer';
  writing-mode: vertical-rl;
  cursor: default;
}

#highlighted {
  color: rgb(238, 0, 140);
}

.menu-button {
  height: 3.5vh;
  width: 3.5vh;
  border: none;
  margin-right: 1.5vw;
  cursor: pointer;
}

.rules {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Designer';
  font-size: 2.8vh;
  text-align: center;
  color: white;
}

#info-popup {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #303030D0;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-box {
  border-radius: 3vw;
  width: 80vw;

  padding: 2vh 2vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 133, 174);
}

.info-header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
}

.button-close-info {
  font-size: 5vh;
  width: 5vw;
  height: 5vh;
  cursor: pointer;
  font-family: 'Designer';
  text-align: center;
}

.info-header-title {
  width: 75vw;
  height: 100%;
  text-align: center;
}

.info-row {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  align-items: center;
  margin: 0 3vw;
}

.info-icon {
  width: 4vw;
  height: 4vw;
  padding: 1vw;
}

.info-text {
  padding-left: 2vw;
  width: 70vw;
  font-size: 2vh;
  font-family: 'Versatylo Rounded';
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

@font-face {
  font-family: 'Edition';
  src: url('./local-fonts/Edition.woff2') format('woff2'), /* Specify the path to your font files */
       url('./local-fonts/Edition.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Designer';
  src: url('./local-fonts/Designer.woff2') format('woff2'),
       url('./local-fonts/Designer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Versatylo Rounded';
  src: url('./local-fonts/VersatyloRounded.woff2') format('woff2'),
       url('./local-fonts/VersatyloRounded.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}